*~
*.swp
/datasoul-src/nbproject/private/
/datasoul-src/build/
/datasoul-src/dist/
/Datasoul-Lite/nbproject/private/
/Datasoul-VLC/nbproject/private/
/Datasoul-VLC/build/
/Datasoul-VLC/dist/
/Datasoul-Lite/build/
/Datasoul-Lite/dist/