<?xml version="1.0" encoding="ISO-8859-1"?>
<ConfigObj>
    <MainOutputIdx>1</MainOutputIdx>
    <MainOutputPositionLeft>0</MainOutputPositionLeft>
    <MainOutputPositionTop>300</MainOutputPositionTop>
    <MainOutputSizeWidth>640</MainOutputSizeWidth>
    <MainOutputSizeHeight>480</MainOutputSizeHeight>
    <MonitorOutputIdx>0</MonitorOutputIdx>
    <MonitorOutputPositionLeft>640</MonitorOutputPositionLeft>
    <MonitorOutputPositionTop>513</MonitorOutputPositionTop>
    <MonitorOutputSizeWidth>640</MonitorOutputSizeWidth>
    <MonitorOutputSizeHeight>480</MonitorOutputSizeHeight>
    <TemplateText>SoTexto</TemplateText>
    <ClockModeIdx>0</ClockModeIdx>
    <MonitorTemplateFilter/>
    <AlertTemplateFilter>Avi</AlertTemplateFilter>
    <GeneralTemplateFilter/>
</ConfigObj>
