<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<ConfigObj>
<DatasoulFileVersion>2</DatasoulFileVersion>
<DetectMonitorsIdx>1</DetectMonitorsIdx>
<MonitorOutputIdx>0</MonitorOutputIdx>
<ClockModeIdx>0</ClockModeIdx>
<StorageLoc>/home/samuel/.datasoul/data</StorageLoc>
<QualityMainIdx>3</QualityMainIdx>
<MainOutputDevice/>
<MonitorOutputDevice/>
<OnlineCheckUpdate>1</OnlineCheckUpdate>
<OnlineUsageStats>1</OnlineUsageStats>
</ConfigObj>
