<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DisplayControlConfig>
<DatasoulFileVersion>2</DatasoulFileVersion>
<SlideTransitionTime>600</SlideTransitionTime>
<SlideShowHideTime>1000</SlideShowHideTime>
<MonitorFollowMainControlsIdx>1</MonitorFollowMainControlsIdx>
<TemplateMonitor/>
<AutomaticGoLive>1</AutomaticGoLive>
<DefaultTemplateText>ds-text</DefaultTemplateText>
<DefaultTemplateSong>ds-text</DefaultTemplateSong>
<DefaultTemplateImage>ds-images</DefaultTemplateImage>
<MonitorTemplateText>ds-stage-text</MonitorTemplateText>
<MonitorTemplateSong>ds-stage-text</MonitorTemplateSong>
<MonitorTemplateImage>ds-stage-text</MonitorTemplateImage>
<MonitorTemplateContentless>ds-stage-text</MonitorTemplateContentless>
</DisplayControlConfig>
