<?xml version="1.0" encoding="ISO-8859-1"?>
<WindowPropConfig>
    <DatasoulFileVersion>1</DatasoulFileVersion>
    <HMainForm/>
    <WMainForm/>
    <HTextEditor/>
    <WTextEditor/>
    <HSongEditor/>
    <WSongEditor/>
    <HSongSearch/>
    <WSongSearch/>
    <DatashowSplit1/>
    <DatashowSplit2/>
    <DatashowSplit3/>
    <ServiceSplit1/>
    <ServiceSplit2/>
    <ServiceSplit3/>
    <SongSplit1/>
    <SongSplit2/>
    <TemplateSplit1/>
    <TemplateSplit2/>
</WindowPropConfig>
