<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<WindowPropConfig>
<DatasoulFileVersion>2</DatasoulFileVersion>
<HMainForm>583</HMainForm>
<WMainForm>928</WMainForm>
<HTextEditor/>
<WTextEditor/>
<HSongEditor/>
<WSongEditor/>
<TemplateSplit1/>
<SplMain/>
<SplService/>
<SplSongLibrary/>
<SplDisplayControl/>
</WindowPropConfig>
