Package: datasoul
Version: 2.1-b1
Priority: optional
Architecture: all
Section: graphics
Depends: openjdk-7-jre, vlc (>= 2.0.0), desktop-file-utils
Maintainer: Samuel Lucas Vaz de Mello <samuelmello@gmail.com> 
Description: Application to manage and display song lyrics in worship services
 .
 For additional information, please refer to http://code.google.com/p/datasoul
