Package: datasoul
Version: 2.0_beta1
Priority: optional
Architecture: all
Depends: java6-runtime
Maintainer: Samuel Lucas Vaz de Mello <samuelmello@gmail.com> 
Description: Datasoul is an application to manage and display song lyrics in worship services.
